[submodule "ink"]
	path = ink
	url = git@github.com:rosshadden/ink.git
[submodule "grip"]
	path = grip
	url = git@github.com:rosshadden/grip.git
[submodule "nib"]
	path = nib
	url = https://github.com/visionmedia/nib.git
