
// Button backgrounds
// ------------------
buttonBackground($startColor, $endColor)
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  background-image linear-gradient(top, $startColor, $endColor)
  *background-color $endColor /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  reset-filter()

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled]
    background-color $endColor
    *background-color darken($endColor, 5%)

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active
    background-color darken($endColor, 10%) unquote("\9")


buttonize(color = #ddd, radius = 4px)
  button-paint(color)

  display inline-block
  margin-bottom 0 // For input.btn
  padding 4px 10px 4px
  border-radius radius
  background-repeat repeat-x
  box-shadow inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
  filter unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)")
  text-align center
  font-weight bold
  font-size 13px
  vertical-align middle
  cursor pointer
  line-height 18px
  -webkit-touch-callout none
  vendor(user-select, none)

  &:hover
    background-position 0 -15px
    transition background-position 0.1s linear

  &:active,
  &.active
    background-image none
    box-shadow inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)

button-paint(color, color2 = color)
  colorHighlight = lighten(color, 20%)
  isDark = dark(color)

  border 1px solid #cccccc
  border-color color color darken(color, 15%)
  border-color rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5)
  background-color colorHighlight
  background-image linear-gradient(top, colorHighlight, color)
  filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=0)", colorHighlight, color)
  color #fff if isDark
  color #333 if not isDark
  text-shadow 0 1px 1px rgba(0, 0, 0, 0.75) if isDark
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.75) if not isDark

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled]
    background-color color

  &.hover
    color @color

  &:active,
  &.active
    background-color colorHighlight


generate-buttons(scheme)
  .btn
    buttonize()

  a.btn:hover
    color #333
    text-decoration none

  .btn-primary
    button-paint(scheme[0])

  .btn-secondary
    button-paint(scheme[1])

  .btn-tertiary
    button-paint(scheme[2])

  .btn-mini
    padding 2px 6px
    font-size 11px
    line-height 14px
