generate-utilities()
    // Alignment
    //   I know these are probably going to be a hot topic because .left isn't a semantic class.
    //   If you don't like it, file an issue, and you can possibly persuade me.
    .left
        text-align left

    .right
        text-align right

    .center
        text-align center

    .nowrap
        white-space nowrap

    // Quick floats
    .pull-right
        float right

    .pull-left
        float left

    // Toggling content
    .hide
        display none

    .show
        display block

    // Visibility
    .invisible
        visibility hidden
